@model IEnumerable<GerenciamentoMensalidade2.Models.RegistroEntradaSaida>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saida)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RegistroEntradaSaidaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.RegistroEntradaSaidaId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.RegistroEntradaSaidaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
